# LLM
GROQ_API_KEY=

# LangSmith
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=protengine-labs

# Bioinformatics
NCBI_API_KEY=
NCBI_EMAIL=

# Auth
JWT_SECRET_KEY=your-secret-here-change-this
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=480

# Telegram
TELEGRAM_BOT_TOKEN=

# Database (Neon PostgreSQL)
DATABASE_URL=

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
